{{!-- <section id="section2" class="panel">panel 2</section> --}}
<section id="section1" class="home">
    <div class="main">
        <nav data-module="nav">
         <!-- nav elements must have nav-item -->
            <ul>
                <li><a href="#" class="nav-item">Home</a></li>
                <li><a href="#projects" class="nav-item">Projects</a></li>
                <li><a href="#about" class="nav-item">About</a></li>
                <li><a href="#contact" class="nav-item">Contact</a></li>
            </ul>
        </nav>

        <h1 id="name">Keiran Hollenbeck</h1>

        <p>
         Welcome to Keiran’s website. Here, you will get to know Keiran and what projects he works on.
        </p>

        <button id="projectButton"><a id="projectAnchor" href="#projects">Projects</a></button>
    </div>
</section>
<section id="projects">

    <div class="team">
        
        {{#each portfolio}}
            <div class="user-panel">
                <img class="u-avatar" src="images/{{ avatar }}" alt="avatar">

                <a class="u-link" href="{{ ID }}">
                    See More Info
                </a>

                <h1>{{ Name }}</h1>
                <h3>{{ JobTitle }}</h3>
            </div>
            

        {{/each}}
        
    </div>

    <!-- this will be filled in on the client side when we render our AJAX data -->
    <section class="lightbox">
        <span class="close">x</span>
        <div class="sidebar">
            <img class="lightBoxImage" src="" alt="larger bio image">
        </div>

        <div class="lb-content">
            
        </div>
    </section>
</section>

<section id="about" class="panel">
    <p>Thank you for reading this page on my favourite things, that is all I have to share for today.</p>
</section>

<section id="contact">
    <p>This is to fill in the Contact page</p>
</section>

{{!-- If you want to make a button with the gradient color, you have to ....... --}}

{{!-- <section id="section5" class="panel"></section> --}}