#mainNav{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    ul {
        li { display: inline-block; padding: 10px 10px;}
    }
   

    a { text-decoration: none;
        text-transform: uppercase;
        color: white;
        
    } 
}
#mainNav ul li:hover{
   a {
    display: block;
    padding: 10px;
    border-radius: 20px;
    background: white;
    color: black;
    transition: all .3s ease
   }
}